{% extends 'teacher/base_bar.html' %}
{% load static %}

{% block title %}
    <title>اضافة مقرر جديد</title>
{% endblock title %}

{% block custum_imports %}
    <link rel="stylesheet" href="{% static 'css/profile_teach_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/content_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
{% endblock custum_imports %}

{% block content %}
                <!-------------------courses--------->
               <div class="col-10">

               <!----------------------new-course-->
               <form action="" method="post" enctype="multipart/form-data" class="add_content">
                {% csrf_token %}
                <div class="details add-details">
                    <div class="account_tech">
                        <h1> اضافة مقرر جديد </h1>
                        <img src="{% static 'images/icons/courses/Group 15498.svg' %}" alt="" width="2.5%">
                    </div>
                    <div class="hrt">
                        <hr>
                    </div>
             <div class="info_tech">
                    <div class="tech_pic ">
                      <h2>صوره المقرر</h2>
                    
                        <img class="term_cont1" src="{% static 'images/pic 1.png' %}" id="output" alt="" >
                      
                      {{course_form.image}}
                      <div class="btn_course">
                        <button type="button" id="custom-button"><img   src="{% static 'images/icons/profile/up-image.svg' %}" alt="">رفع الصورة</button>
                      </div>
                      
                      
                      <!-- <div class="img_choose"> -->
                          <!-- اختر صورة المقرر -->
                      <!-- </div> -->
                     </div>

                <div class="details_tech">
                        
                         <div class="data_analysis" >
                            <label>اسم المقرر</label>
                            {{course_form.name}}
                         </div>
                         <div class="data_analysis" >
                            <label>وصف المقرر</label>
                            {{course_form.description}}
                         </div>
                         
                         
                         
                 </div>
             </div>
             <div class="modified_btn mod-edi">
                <button class="btn2" onclick="canel_new_course()"><a href=""><i class="fal fa-times"></i>الغاء التعديلات</a></button>
                <button type="submit" class="upload_img btn1" ><a ><i class="far fa-plus-circle"></i>اضافة المقرر</a></button>
                
            </div>  
                </div> 
            </form> 
                </div>
            </div>

                     <!-----------new_course-------->
               </div>
             </div>
        </div>
    </section>
    <!--------------------------active_base_bar----------->
    <script>
        var profile_features = document.getElementById("profile_features");
       var profile_feature_active = profile_features.getElementsByClassName("profile_feature")
       var image1 = document.getElementById("image1");
       var image2 = document.getElementById("image2");
       var image3 = document.getElementById("image3");
       var image5 = document.getElementById("image5");
       for (var i = 0; i < profile_feature_active.length; i++) {
           var current = profile_features.getElementsByClassName("activee");
           // If there's no active class
           if (current.length > 0) {
             current[0].className = current[0].className.replace(" activee", "");
             image3.src = "{% static 'images/icons/dashboard/Group 186.svg' %}";
           }
             profile_feature_active[2].classList.add("activee")
             image3.src ="{% static 'images/icons/dashboard/oppsite/Group 186.svg' %}" ;
             console.log("courses")
       } 
        //-------- hover-base-bar-------------
             //---hover main-page 
        function hoverr1(){
        image1.src ="{% static 'images/icons/dashboard/oppsite/Group 183.svg' %}" ;
        }
        function without_hover1(){
        image1.src = "{% static 'images/icons/dashboard/main page.svg'  %}" ;
        }
           //---hover account
        function hoverr2(){
        image2.src ="{% static 'images/icons/dashboard/oppsite/ic_account_circle_24px.svg' %}" ;
        }
        function without_hover2(){
        image2.src = "{% static 'images/icons/dashboard/ic_account_circle_24px.svg'  %}";
        }
             //---hover exams
        function hoverr5(){
        image5.src ="{% static 'images/icons/dashboard/oppsite/Group 184.svg' %}" ;
        }
        function without_hover5(){
        image5.src = "{% static 'images/icons/dashboard/exams.svg' %}" ; 
        }
        //-----end of hover
       </script>
       <!--------------------------active_base_bar----------->
    <script src="{% static 'master/New_course.js' %}"></script>
    <script type="text/javascript">
        const realFileBtn = document.getElementById("id_posti");
        const customBtn = document.getElementById("custom-button");
    
        customBtn.addEventListener("click", function() {
            realFileBtn.click();
        });
    </script>
    <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        </script>

      
        
</body>
</html>

   
{% endblock content %}