{% extends 'teacher/base_bar.html' %}

{% load static %}

{% block title %}
    <title>اعادة تعيين كلمة المرور</title>
{% endblock title %}

{% block custum_imports %}

{% endblock custum_imports %}

{% block content %}
                <!-------------------details--------->
               <div class="col-10">
                   <div class="details reset_pwd">
                    <div class="account_tech">
                        <h1> الملف الشخصي <i class="fas fa-user-circle"></i></a></h1>
                    </div>
                    <div class="hrt">
                        <hr>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data" class="pwd">
                        {% csrf_token %}
             <div class="info_tech rst-pass">
                <div class="details_tech">
                         {{form}}
                         <div class="modified_btn mod-rst">
                            <button class="white_btn"><a href="profile-info"> <i class="fal fa-times"></i> الغاء التعديلات</a></button>
                            <button class="btn1" type="submit" ><a > <i class="fas fa-save"></i> حفظ التعديلات</a></button>
                                       </div>
                            </div>


                     </form>
                 </div>
             </div>

               </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="{% static 'js/reset_password.js' %}"></script>
        <!--------------------------active_base_bar----------->
        <script src="{% static 'js/base.js' %}"></script>
        <script>window.onload=profile()</script>
</body>

</html>
{% endblock content %}
