{% extends 'teacher/base_bar.html' %}

{% load static %}

{% block title %}
    <title>اعادة تعيين كلمة المرور</title>
{% endblock title %}

{% block custum_imports %}
    
{% endblock custum_imports %}

{% block content %}
                <!-------------------details--------->
               <div class="col-10">
                   <div class="details reset_pwd">
                    <div class="account_tech">
                        <h1> الملف الشخصي <i class="fas fa-user-circle"></i></a></h1>
                    </div>
                    <hr>
                    <form action="" method="post" enctype="multipart/form-data" class="pwd">
                        {% csrf_token %}
             <div class="info_tech">
                <div class="details_tech">

                         {{form}}


                         <div class="modified_btn">
                            <button class="white_btn"><a href="profile-info"> &times; الغاء التعديلات</a></button> 
                            <button class="btn1" type="submit" ><a > <i class="fas fa-save"></i> حفظ التعديلات</a></button>
                                       </div>  
                            </div> 

                         
                     </form>
                 </div>
             </div>
              
               </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script >
	    $(function () {
	        $('#datepicker').datepicker(
                {
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    todayHighlight: true,
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    autoclose: true,
                    changeMonth: true,
                    changeYear: true,
                    orientation: "button"
                }
            );
	    });
	</script>
    <script type="text/javascript">
        const realFileBtn = document.getElementById("id_posti");
        const customBtn = document.getElementById("custom-button");
    
        customBtn.addEventListener("click", function() {
            realFileBtn.click();
        });
    </script>
</body>
</html>
{% endblock content %}