{% extends 'teacher/base_bar.html' %}

{% load static %}

{% block title %}
    <title>الصفحة الرئيسية</title>
{% endblock title %}

{% block content %}

                <!-------------------details--------->
               <div class="col-10" >
                 
                <div class="details">
                  <!----------------------lecture--------->
                <div class="row align_start">
                   <div class="col-8">
                    {% for i,k in dic.items %}
                     <div class="lecture">
                      <div class="info">
                          <div class="info_txt info-editt">
                              <div class="lec">
                                  <i class="fas fa-bell"></i>
                                  <h3>المحاضرة القادمة</h3>
                              </div>
                                 <p>{{i}}</p>
                                 <p>{{k}} </p>
                             </div>
                             <div class="enter_btn enter-button">
                              <button class="btn1"><a href="join_meeting/{{i}}"> انضمام الاجتماع<i class="fas fa-angle-double-left"></i></a></button>
                            </div>
                      </div> 
                     </div>
                     {% endfor %}
                  </div>
                     
                </div>
             </div>
               </div>                    
                    
    <!--------------------------active_base_bar----------->
   
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'js/teacher_dashboard.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>window.onload=teacher_dash()</script>
    
    <script>
      {% for msg in messages %}
           swal("تم تسجيل الدخول بنجاح ", "{{msg}}!", "success");
       {% endfor %}
    </script>
 

    </body>
</html>
{% endblock content %}
