{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'images/logo colored1.png' %}" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   
    <link rel='stylesheet'  href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/meeting.css' %}">
         <script src="{% static 'js/main.js' %}"></script>
    <title>meeting</title>
</head>
<body>
    <div class="meeting">
        <div class="row" id="meting_full">
            <!------------------------meeting------>
            <div class="col-9 meting">
                
                <div class="meeting_live">
                   
                    
                    <div class="students">
                        <section>
                            <div  id="room-name-wrapper">
                                <p><span id="room-name"></span>:   اسم الاجتماع  </p>
                            </div>   
                        </section>
                        <canvas id="canvas" width="640" height="480" style="display: none;" > </canvas>
                        <canvas id="canvas2" width="48" height="48"> </canvas>
                        <section id="video-streams"></section>
                        <!-- <section id="controls-wrapper">
                            <div class="icon-wrapper">
                                <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" />
                            </div>
                    
                            <div class="icon-wrapper">
                                <img class="control-icon" id="cap-btn" src="{% static 'images/microphone.svg' %}" />
                            </div>
                    
                            <div class="icon-wrapper">
                                <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" />
                            </div>
                    
                            <div class="icon-wrapper">
                                <img class="control-icon" id="leave-btn" src="{% static 'images/leave.svg' %}" />
                            </div>
                        </section> -->
                        <section id="controls-wrapper" class="row meeting_features">
                           <div class="row">
                            <div class="" id="leave-btn">
                                <i class="fas fa-arrow-alt-square-left orange"></i>
                            </div>
                            <button id="startRecording" disabled=true>Start Recording</button>
                            <button id="stopRecording" disabled=true>Stop Recording</button>
                            <div class="" id="cap-btn">
                                <img class="control-icon"  src="{% static 'images/microphone.svg' %}" />
                            </div>
                            
                            <div class="" id="capture-btn">
                                <img class="control-icon"  src="{% static 'images/microphone.svg' %}" />
                            </div>
                           </div>
                           

                        </div>
                            <div class="row">
                                <div class="" id="mic-btn">
                                    <i class="fas fa-microphone gray"></i>
                                </div>
                                <div class="" id="camera-btn">
                                    <i class="fas fa-video orange"></i>
                                    <i class="fas fa-horizontal-rule activee"></i>
                                    
                                </div>
                            </div>
                    
                            <div class="row">
                                <div onclick="toggle_screen()">
                                    <i class="fas fa-user-friends  orange"></i>
                                </div>
                                <div onclick="toggle_chat()">
                                    <i class="fas fa-comment-alt-dots orange"></i>
                                </div>
                            </div>

                        </section>
                        
                          
                     </div>
                     <div id="zoon_person" >
                    </div>
                </div>
     
            </div>
            <!-- 
            <!------------------------chat----------->
             <div class="col-3" id="all_chat">
                    <div class="meeting_details">
                        <div class="meeting_btn" id="meeting_btns">
                           <div  onclick="attend()">
                            <button class="btn2"><a href="#">الحضور<i class="fas fa-user-friends"></i></a></button>
                           </div>
                           <div onclick="cht()">
                            <button class="btn2 btn_active"><a href="#"> الرسائل <i class="fas fa-comment-alt-lines"></i></a></button>
                            </div>
                        </div>
                        <hr>
                   
                    <!----------------------------end-chat------>
                    <!----------------------------start-attendance------>
                    <!----------------------------end-attendance------>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="{% static 'master/meeting.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/streams.js' %}" ></script>

    <script>

// var array_user= document.getElementsByClassName("video-container");
// var currentSlide
// console.log(array_user)

// for (var i = 0; i < array_user.length; i++) {

//     array_user[i].onclick = function () {
  
//       currentSlide =this.getAttribute('id');
//       console.log(currentSlide);
      
  
//     }
//   }
    </script>
<script type="text/javascript" src="https://www.turnjs.com/lib/turn.min.js "></script> 

</body>
</html>
