#finish_exams {
  display: none;
  position: relative;
}
.details {
  padding: 0px 50px;
}
.account_tech {
  border-bottom: 1px solid #ccc;
}

.choose_btns {
  background-color: #f9f9f9;
  display: flex;
  direction: rtl;
  margin: 10px 0;
}
.choose_btns button {
  color: var(--btn-color);
  background-color: var(--primary-color);
  flex-basis: 50%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-weight: 500;
}

.choose_btns button:hover,
.choose_btns button:focus,
.choose_btns .active {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--btn-color);
}
.exam1 button a{
    padding: 8px 12px;
}

/* .exam_grade1{
  display: none;
  background-color: #c86253;
  padding: 20px;
  color: var(--primary-color);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
} */
.btn_exam p{display: none;}
.exam1 .activee a{display: none;}
.exam1 button{
  background-color: var(--primary-color);
  cursor: pointer;

}
.activee p{
  font-size: 18px;
  display: block;
  color: #999999;;
  background-color: var(--primary-color);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;}
 .exam1:hover .activee p{
   color: var(--btn-color);
 }
