{% extends "quiz/base.html" %}
{% load static %}

{% block title %}
    <title> تعديل الاختبار</title>
{% endblock title %}

{% block custum_imports %}

{% endblock custum_imports %}

{% block content %}
<!-----------------1------------------->

           <div class="col-10">
               <div class="details ">

                <div class="headofcontent">
                    <img class= "hea1" src="{% static 'images/teacher/Group 15498.png' %}" alt="">
                    <h4 class="hea2">ذكاء صناعى -اختبار 1 </h4>
                </div>
                <div class="ll">
                    <hr>
                </div>
            
                
                
                    
                    <div class="question_add">
                        <button type="button" hx-get="{% url 'create_question_form' %}" hx-target="#bookforms" hx-swap="beforeend"
                            class="">
                            اضافة سؤال
                        </button>
                    
                    </div>
                <div id="bookforms" class="py-5 mt-5"></div>
                
            {% for question in questions %}  
                <div class="lkj">
                 {% include "quiz/partials/quiz_detail.html" %}
                </div>
             {% endfor %}
             
             <div class="btn1">
             <button><a href="{% url 'quizzes' %}"><b> الرجوع الى الاختبارات</b></a></button>
            </div>

 </div>
</section>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
</body>
</html>
{% endblock %}

