{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}تسجيل حساب  {% endblock title %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!--- <script defer src="/your-path-to-fontawesome/js/all.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">

    <link rel="icon" href="{% static 'images/logo colored1.png' %}" type="image/icon type">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>تسجيل حساب جديد</title>
</head>
<body>
    <!-----------------navbar-------->
    <nav class="navigation">
      <div class="row nav_ull">
        <div class="nav_ul">
            <ul>
                <div class="right">
                    <img src="{% static 'images/logo white1.png' %}" alt=""width="100px" height="50px">
                    <li><a href="{% url 'index' %}">الصفحة الرئيسية</a></li>
                </div>
            </ul>
          </div>
      </div>
   </nav>
    <!--------------sign-up--------------->
    <div class="sign-up">
      <div>
          <img src="{% static 'images/Group 162.png' %}" alt="sign-up">
      </div>
      <form  method="post">
        {% csrf_token %}
          <div class="form_input">
            <i class="fas fa-user-circle"></i>
            {{ form.username }}
          </div>
          <div class="form_input">
            <i class="fas fa-envelope"></i>
            {{ form.email}}
        </div>
        <div class="form_input">
            <i class="fas fa-lock-alt"></i>
            {{ form.password1 }}
            <i class="password-toggle far fa-eye-slash" id="password-toggle"   onclick="password_Toggle()"></i>
        </div>
        <div >
        <div class="form_input">
            <i class="fas fa-lock-alt"></i>
            {{ form.password2 }}
            <i class="password-toggle far fa-eye-slash" id="password-toggle2"   onclick="password_Toggle2()"></i>
        </div>
        <div >
          <div class="radio-item">
              <input type="radio" name="role" id="student" value="student" checked ><label for="student">طالب</label>
          </div>
          <div class="radio-item">
              <input type="radio" name="role" id="teacher" value="teacher"><label for="teacher">معلم</label>
          </div>
      </div>
      <div class="row">
        <div >
           <script src='https://www.google.com/recaptcha/api.js'></script>
           <div class="g-recaptcha" data-sitekey="6LfszWMeAAAAACcuYUil6U-JU8T9knetAhG9Amtm"></div>

        </div>
         </div>
         <div class="row">
         <span style="color: rgb(229, 36, 52) ">





        </span>
         </div>
        <div>
          <div>
            <button class="btn1"><a type="submit" value="Register" onclick="success_enter()">تسجيل حساب </a></button>
            <button class="btn2"><a href="/login">لديك حساب</a></button>
          </div>
        </div>
      </form>
    </div>


    <p></p>



    <script src="{% static 'js/password.js' %}"></script>
    <script>
      {% for msg in messages %}
      {% if flag %}
      swal("تم تسجيل الحساب بنجاح ", "{{msg}}!", "success");
      {% else %}
      swal( "حدث خطا في تسجيل الحساب", "{{msg}}!", "warning");
      {% endif %}
      {% endfor %}
      </script>


</body>
</html>
{% endblock content %}