{% extends 'student/base_bar.html' %}
{% load static %}
{% load teacher_to_student  %}

{% block title %}
    <title>المقررات الدراسية</title>
{% endblock title %}

{% block custum_imports %}
    <link rel="stylesheet" href="{% static 'css/profile_teach_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/content_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
{% endblock custum_imports %}

{% block content %}
                <!-------------------courses--------->
        <div class="col-10">


               <!----------------------new-course-->
               <div id="coursess">
                <!-----------course1----------->
                {% if courses %}
                <ul></ul>
                {% for course in courses %}
            <div class="row courses">
                <div class="course_cont course_cont1">
                    <div>
                        <h5>{{course.name}}</h5>
                        <p>{{course.student.count}} طالب</p>
                        <p>{{course.teacher}}</p>
                    </div>
                    <div>
                        <div class="imgg">
                        <img src="{{course.image.url}}" height="180px">
                    </div>
                    </div>
                </div>
                <div>
                    <button class="btn1 btn11"><a href="{{ course.get_absolute_url|teacher_to_student }}"><i class="fas fa-pen"></i>رؤية المحتوى</a></button>
                </div>
            </div>
                {% endfor %}
              </ul>
                {% else %}
              <p>There are no courses yet!</p>

            {% endif %}

        </div>

        </div>

    </section>

    <!--------------------------active_base_bar----------->
    <script>
        var profile_features = document.getElementById("profile_features");
       var profile_feature_active = profile_features.getElementsByClassName("profile_feature")
       var image1 = document.getElementById("image1");
       var image2 = document.getElementById("image2");
       var image3 = document.getElementById("image3");
       var image5 = document.getElementById("image5");
       for (var i = 0; i < profile_feature_active.length; i++) {
           var current = profile_features.getElementsByClassName("activee");
           // If there's no active class
           if (current.length > 0) {
             current[0].className = current[0].className.replace(" activee", "");
             image3.src = "{% static 'images/icons/dashboard/Group 186.svg' %}";
           }
             profile_feature_active[2].classList.add("activee")
             image3.src ="{% static 'images/icons/dashboard/oppsite/Group 186.svg' %}" ;
             console.log("courses")
       }
        //-------- hover-base-bar-------------
             //---hover main-page
        function hoverr1(){
        image1.src ="{% static 'images/icons/dashboard/oppsite/Group 183.svg' %}" ;
        }
        function without_hover1(){
        image1.src = "{% static 'images/icons/dashboard/main page.svg'  %}" ;
        }
           //---hover account
        function hoverr2(){
        image2.src ="{% static 'images/icons/dashboard/oppsite/ic_account_circle_24px.svg' %}" ;
        }
        function without_hover2(){
        image2.src = "{% static 'images/icons/dashboard/ic_account_circle_24px.svg'  %}";
        }
             //---hover exams
        function hoverr5(){
        image5.src ="{% static 'images/icons/dashboard/oppsite/Group 184.svg' %}" ;
        }
        function without_hover5(){
        image5.src = "{% static 'images/icons/dashboard/exams.svg' %}" ;
        }
        //-----end of hover
       </script>
       <!--------------------------active_base_bar----------->
</body>
</html>


{% endblock content %}
