<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>{{student}} current quizzes</h1>
    {% for quiz in quizzes %}
        <ul>
            <li>{{quiz.course}}</li>
            <li>{{quiz.quiz.name}}</li>
            <a href="{% url 'start_quiz' quiz.id %}">start quiz</a>
        </ul>
    {% endfor %}
    <hr>

    <h1>{{student}} done quizzes</h1>


</body>
</html>