
<h1>{{student}} current quizzes</h1>
{% for quiz in quizzes %}
    {% if quiz.done == False %}
        <ul>
            <li>{{quiz.course}}</li>
            <li>{{quiz.quiz.name}}</li>
            <a href="{% url 'start_quiz' quiz.id %}">start quiz</a>

        </ul>
    {% endif %}
{% endfor %}
<hr>

<h1>{{student}} done quizzes</h1>
{% for quiz in quizzes %}
    {% if quiz.done %}
        <ul>
            <li>{{quiz.course}}</li>
            <li>{{quiz.quiz.name}}</li>
            <li>Your Score: {{quiz.score}} out of {{quiz.total_marks}}</li>
        </ul>
    {% endif %}
{% endfor %}
