{% extends 'student/base_bar.html' %}

{% load static %}

{% block title %}
    <title>تعديل الملف الشخصى</title>
{% endblock title %}

{% block custum_imports %}

{% endblock custum_imports %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/student_view.css' %}">
                <!-------------------details--------->
               <div class="col-10">
                   <div class="details">
                    <div class="account_tech">
                        <h1> الملف الشخصي <i class="fas fa-user-circle"></i></a></h1>
                    </div>
                    <div class="hrt">
                        <hr>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

             <div class="info_tech">
                    <div class="tech_pic techpic_edit">
                      <h2>تغيير الصورة الشخصية</h2>
                      <div class="imgg">
                        <img src="{{ user.profile.student.avatar.url }}" alt="" id="output">
                      </div>
                      {{profile_form.avatar}}
                      <button type="button" id="custom-button"> <img src="{% static 'images/icons/profile/up-image.svg' %}" alt="">رفع الصورة</button>




                    </div>

                <div class="details_tech det-edit">

                         <div class="block">
                            <label for="username_">اسم المستخدم</label>
                            {{user_form.username}}
                         </div>

                         <div class="block">
                            <label for="name_">الاسم</label>
                            {{profile_form.full_name}}
                         </div>

                         <div class="block">
                            <label for="age_">العمر</label>
                            {{profile_form.age}}
                         </div>

                         <div class="block">
                            <label for="email_">البريد الالكتروني</label>
                            {{user_form.email}}
                         </div>





                         <div class="modified_btn">
                            <button class="white_btn"><a href="profile-info"><i class="fal fa-times"></i> الغاء التعديلات</a></button>
                            <button class="btn1" type="submit" ><a > <i class="fas fa-save"></i> حفظ التعديلات</a></button>
                                       </div>
                            </div>


                     </form>
                 </div>
             </div>

               </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script >
	    $(function () {
	        $('#datepicker').datepicker(
                {
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    todayHighlight: true,
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    autoclose: true,
                    changeMonth: true,
                    changeYear: true,
                    orientation: "button"
                }
            );
	    });
	</script>
    <script type="text/javascript">
        const realFileBtn = document.getElementById("id_posti");
        const customBtn = document.getElementById("custom-button");

        customBtn.addEventListener("click", function() {
            realFileBtn.click();
        });
    </script>
    <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        </script>

        <!--------------------------active_base_bar----------->
    <script>
        var profile_features = document.getElementById("profile_features");
        var profile_feature_active = profile_features.getElementsByClassName("profile_feature")
        var image1 = document.getElementById("image1");
        var image2 = document.getElementById("image2");
        var image3 = document.getElementById("image3");
        var image5 = document.getElementById("image5");
       for (var i = 0; i < profile_feature_active.length; i++) {
           var current = profile_features.getElementsByClassName("activee");
           // If there's no active class
           if (current.length > 0) {
             current[0].className = current[0].className.replace(" activee", "");
             image2.src = "{% static 'images/icons/dashboard/ic_account_circle_24px.svg'  %}";
           }
             profile_feature_active[1].classList.add("activee")
             console.log("dashboard_teacher");
             image2.src ="{% static 'images/icons/dashboard/oppsite/ic_account_circle_24px.svg' %}" ;
       }
       //----hover-basebar-------
        function hoverr1(){
        image1.src ="{% static 'images/icons/dashboard/oppsite/Group 183.svg' %}" ;
        }
        function without_hover1(){
        image1.src = "{% static 'images/icons/dashboard/main page.svg'  %}" ;
        }
        //----hover-courses
        function hoverr3(){
         image3.src ="{% static 'images/icons/dashboard/oppsite/Group 186.svg' %}" ;
        }
        function without_hover3(){
         image3.src = "{% static 'images/icons/dashboard/Group 186.svg' %}";
        }
        //---hover exams
        function hoverr5(){
         image5.src ="{% static 'images/icons/dashboard/oppsite/Group 184.svg' %}" ;
        }
        function without_hover5(){
        image5.src = "{% static 'images/icons/dashboard/exams.svg' %}" ;
        }
        //-----end of hover
       </script>
       <!--------------------------active_base_bar----------->
</body>
</html>
{% endblock content %}
