{% extends 'student/base_bar.html' %}

{% load static %}

{% block title %}
    <title>تعديل الملف الشخصى</title>
{% endblock title %}

{% block custum_imports %}

{% endblock custum_imports %}

{% block content %}
                <!-------------------details--------->
               <div class="col-10">
                   <div class="details">
                    <div class="account_tech">
                        <h1> الملف الشخصي <i class="fas fa-user-circle"></i></a></h1>
                    </div>
                    <hr>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

             <div class="info_tech">
                    <div class="tech_pic">
                      <h2>تغيير الصورة الشخصية</h2>
                      <div class="imgg">
                        <img src="{{ user.profile.student.avatar.url }}" alt="" id="output">
                      </div>
                      {{profile_form.avatar}}
                      <button type="button" id="custom-button"><i class="far fa-image"></i>رفع الصورة</button>




                    </div>

                <div class="details_tech">

                         <div class="block">
                            <label for="username_">اسم المستخدم</label>
                            {{user_form.username}}
                         </div>

                         <div class="block">
                            <label for="name_">الاسم</label>
                            {{profile_form.full_name}}
                         </div>

                         <div class="block">
                            <label for="age_">العمر</label>
                            {{profile_form.age}}
                         </div>

                         <div class="block">
                            <label for="email_">البريد الالكتروني</label>
                            {{user_form.email}}
                         </div>





                         <div class="modified_btn">
                            <button class="white_btn"><a href="profile-info"> &times; الغاء التعديلات</a></button>
                            <button class="btn1" type="submit" ><a > <i class="fas fa-save"></i> حفظ التعديلات</a></button>
                                       </div>
                            </div>


                     </form>
                 </div>
             </div>

               </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script >
	    $(function () {
	        $('#datepicker').datepicker(
                {
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    todayHighlight: true,
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    autoclose: true,
                    changeMonth: true,
                    changeYear: true,
                    orientation: "button"
                }
            );
	    });
	</script>
    <script type="text/javascript">
        const realFileBtn = document.getElementById("id_posti");
        const customBtn = document.getElementById("custom-button");

        customBtn.addEventListener("click", function() {
            realFileBtn.click();
        });
    </script>
    <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        </script>
</body>
</html>
{% endblock content %}
