{% extends 'student/base_bar.html' %}
{% load static %}


{% block title %}
    <title>الصفحة الرئيسية</title>
{% endblock title %}

{% block content %}


  <br><center><h3>Student Dashboard</h3></center><br>
  {% if msg %}
  <br><center><h3>Course Joined succefully!</h3></center><br>
  {% endif %}
  
  <div class="input_search">
    <div class="add_cont ">
      <h1>اضافة مقرر</h1>
    </div>  
  <div class="search_div">
    <input
      type="text"
      name="search"
      hx-post="{% url 'search' %}"
      hx-trigger="keyup changed delay:250ms"
      hx-indicator=".htmx-indicator"
      hx-target="#search-results"
      placeholder="بحث عن مقرر"
    >
    <!-- <span class="htmx-indicator">Searching...</span> -->
  </div>

  </div>
  <center>  
  <table>
    {% if todos %}
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Teacher Name</th>
      </tr>
    {% endif %}
    </thead>

    <tbody id="search-results">
      {% include "student/search.html" %}
    </tbody>
  </table>
</center>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  {% for msg in messages %}
       swal("Good job!", "{{msg}}!", "success");
   {% endfor %}
 </script>

 <!--------------------------active_base_bar----------->
    
 <script>
  var profile_features = document.getElementById("profile_features");
 var profile_feature_active = profile_features.getElementsByClassName("profile_feature")
 var image1 = document.getElementById("image1");
 var image2 = document.getElementById("image2");
 var image3 = document.getElementById("image3");
 var image5 = document.getElementById("image5");
 for (var i = 0; i < profile_feature_active.length; i++) {
     var current = profile_features.getElementsByClassName("activee");
     // If there's no active class
     if (current.length > 0) {
       current[0].className = current[0].className.replace(" activee", "");
       image1.src = "{% static 'images/icons/dashboard/main page.svg'  %}" ;
     }
       profile_feature_active[0].classList.add("activee")
       image1.src ="{% static 'images/icons/dashboard/oppsite/Group 183.svg' %}" ;
       console.log("dashboard_teacher")
 }
  //---hover account
   function hoverr2(){
     image2.src ="{% static 'images/icons/dashboard/oppsite/ic_account_circle_24px.svg' %}" ;
     }
     function without_hover2(){
     image2.src = "{% static 'images/icons/dashboard/ic_account_circle_24px.svg'%}";
     }
   //----hover-courses
   function hoverr3(){
    image3.src ="{% static 'images/icons/dashboard/oppsite/Group 186.svg' %}" ;
   }
   function without_hover3(){
    image3.src = "{% static 'images/icons/dashboard/Group 186.svg' %}";
   }
  //---hover exams
   function hoverr5(){
    image5.src ="{% static 'images/icons/dashboard/oppsite/Group 184.svg' %}" ;
   }
   function without_hover5(){
    image5.src = "{% static 'images/icons/dashboard/exams.svg' %}" ;
   }
 //-----end of hover
 </script>
 <!--------------------------active_base_bar----------->


{% endblock content %}
