{% extends 'student/base_bar.html' %}

{% load static %}

{% block title %}
    <title>رفع التقرير</title>
{% endblock title %}

{% block custum_imports %}

<link rel="stylesheet" href="{% static 'css/courses.css' %}">
<link rel="stylesheet" href="{% static 'css/Study-content.css' %}">
<link rel="stylesheet" href="{% static 'css/stud-list.css' %}">
<link rel="stylesheet" href="{% static 'css/quiz.css' %}">
<link rel="stylesheet" href="{% static 'css/report_std.css' %}">
{% endblock custum_imports %}

{% block content %}
                <!-------------------details--------->
                <!-- <div class="col-10"> -->
                  <div class="details det-rep">
                   <div class="account_tech">
                       <h1> رفع التقرير </h1>
                       <img src="{% static 'images/teacher//Icons/Group 15547.png' %}" width="35px" height="35px">
                   </div>
                   <div class="hrt">
                    <hr>
                </div>
            <div class="info_tech info-tech-rep">
               <div class="details_tech rep-std-tech">
                    <form class="form-rep-std">
                        <div class="block">
                           <label>رفع التقرير</label>
                           <div> {{report_grades.grade}} </div>
                        </div>
                        <div class="block">
                           <label > اخر موعد لرفع التقرير </label>
                           <div>{{report.deadline}}</div>
                        </div>
                        <div class="block">
                           <label>تاريخ اخر تعديل</label>
                           <div>{{report_grades.last_modified}}</div>
                        </div>
                        <div class="block">
                          {% if  report_grades.report_file %}
                          <label>التقرير المرفوع</label>
                          <a target="_blank" href="{{report_grades.report_file.url}}" >assignment.pdf</a>
                          {%endif%}
                          </div>
                        <div class="block block_note">
                           <label>ملاحظات المعلم</label>
                           <div>{{report_grades.teacher_notes}}</div>
                        </div>
                    </form>
                </div>
            </div>

            

            
            {% if  is_deadline_not_over %}
            <form  action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
          
              {{ form.report_file }}
              <div class="block">
                <label>ملاحظات الطالب</label>
                <div>{{ form.student_notes }}</div>
             </div>
              
              <div class="modified_btn">
              <button class="btn1" type="submit">رفع التقرير</button>
            </div>
           </form>
           {%endif%}
            
            <!-- <div class="modified_btn">
               <button class="btn2"><a href="">مسح الريبورت</a></button>
               <button class="btn1"><a href="">تعديل الريبورت</a></button>
           </div>   -->
               </div>  
              </div>
    </div>

               </div>
            </div>
        </div>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'master/quiz.js' %}"></script>
    <script src="{% static 'master/quiz_timer.js' %}"></script>
    <script src="{% static 'master/quiz_confirm_end.js' %}"></script>


    <script src="{% static 'js/New_course.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>window.onload=coursesi()</script>

</body>
</html>
{% endblock content %}
