.navigation .btn a {
  padding: 6px 15px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

.bod{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  margin: auto;
}

.sec{
  position: relative;  
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.swiper{
  width: 950px;
}
.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  left: 0;
  background: #c44e37;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.sec .card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #c44e37;
}

.sec .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  /* color:#fff ; */
} 

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
}



.card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button{
  background: #c44e37;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover{
  background: #c44e37;
}

.swiper-pagination{
  position: absolute;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #c44e37;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #c35241;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #c35241;
}
/***********************/
@media (max-width: 1300px) {
  .sec{
    width: 840px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: -30px;
  left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: -30px;
  right: auto;
}
}
@media (max-width: 1140px) {
.sec{
  width: 730px;
}
#search-results {
  margin-right: 55px;
}
}
@media (max-width: 990px) {
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto;
  }
}
@media (max-width: 900px) {
  .sec{
    width: 650px;
    height: 360px;
  }
  .sec .card .image {
    height: 120px;
    width: 120px;

}
.card .card-content {
  padding: 20px;}
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0px;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0px;
    
  }
  .search_div {
    width: 70%;
    margin-right: 5px;
  }
  .search-table {
    width: 80%;
}
  #search-results {
    margin-right: 80px;
  }
}
@media (max-width: 780px) {
  .sec{
    width: 600px;
    height: 325px;
  }
 
  
  .sec .card .image {
    height: 90px;
    width: 90px;
}
.card .card-content {
  padding: 10px;}

  .enter_btn button a {
    display: block;
    padding: 5px;
}
}
@media (max-width: 700px) {
  .sec{
    width: 560px;
  }
}

