{% load tailwind_filters %}
<div hx-target="this" hx-swap="outerHTML" class="form_question" id="formm">
    <form method="POST">
        {% csrf_token %}
        <div class=" det-spc">
            <div class="option_question option-quespe">
                {{ form.question }} <label>&emsp;  &emsp;السؤال</label>
            </div>
            <div class="option_question">
                {{ form.option1 }}<label>الاختيار الاول</label>
            </div>
            <div class="option_question">
                {{ form.option2 }}<label>الاختيار الثانى</label>
            </div>
            <div class="option_question">
                {{ form.option3 }}<label>الاختيار التالت</label>
            </div>
            <div class="option_question">
                {{ form.option4 }}<label>الاختيار الرابع</label>
            </div>

        </div>

        <div class="option_question option-quespe">
            {{ form.correct }}<label>الاجابة الصحيحه</label>
        </div>

        {% if msg %}
            <h1 style="color:red">{{ msg }} </h1>
        {% endif %}
        {% if question %}
        <div class="question_add">
        <button type="submit" hx-post="{% url 'update_question' question.id %}" >
            تعديل السؤال
        </button>
        <button hx-get="{% url 'detail_question' question.id %}" type="button">
            الغاء التعديل
        </button>
    </div>
        {% else %}
     <div class="question_add">
        <button type="submit" hx-post="."
            class="question_add">
            اضافة السؤال
        </button>


    </div>

        {% endif %}
    </form>
</div>
